<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
    	© 2016 MD Taufan
    	<span class="right">
    		Made with
    		<i class="tiny material-icons teal-text text-lighten-3">favorite</i>
    		in Nijmegen
    	</span>
    </div>
  </div>
</footer>