<header>
	<div class="navbar-fixed">
		<nav>
		  <div class="nav-wrapper">
		    <%= link_to("Nijmegen Ceria", root_path, class: "brand-logo") %>
		    <ul class="right hide-on-med-and-down">
		      <li><a class= "modal-trigger" href="#modalLogin"><i class="material-icons right">perm_identity</i>Login Admin</a></li>
		    </ul>
		  </div>
		</nav>
	</div>
</header>