<div class="row">
	<div class="col s12 center">
		<h4> Games' Logs </h4>
		<p class="center-align light">Sorry, currently there are no game logs available.</p>
	</div>
</div>
<div class="divider"></div>
