<main>
	<div class="container">
	  <div class="row">
      <div class="col m10 offset-m1 s12">
        <h3 class="center-align">List of All Players</h2>
        <div class="pagination">
        	<%= will_paginate %>
        </div>
        <ul class="collection">
        	<%= render @players %>	
		  	</ul>
		  	<%= will_paginate %>
      </div>
	  </div>
	</div>
</main>